PORT=3000 # Default
NODE_ENV=dev

# DB Envs
DB_HOST=localhost # Default local
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=5432 # Default

# Prisma
DB_URL=postgresql://[DB_USER]:[DB_PASSWORD]@localhost:5432/[DB_NAME] # Reemplazar los [] por los datos de DB Envs que se indican dentro de los mismos

# Others
HASH_SALT=10
JWT_SECRET=
